.pubble-sb-button,
.pubble-sb-button-mask {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out
}


.pubble-sb-clientbgcolor {
    background: #00abd5;
    background: -moz-linear-gradient(left, #00d4ff 0, #00abd5 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00d4ff), color-stop(100%, #00abd5));
    background: -webkit-linear-gradient(left, #00d4ff 0, #00abd5 100%);
    background: -o-linear-gradient(left, #00d4ff 0, #00abd5 100%);
    background: -ms-linear-gradient(left, #00d4ff 0, #00abd5 100%);
    background: linear-gradient(to left, #00d4ff 0, #00abd5 100%);

    
        
    box-shadow: 0 6px 11px rgba(25, 189, 243, .16), 0 3px 6px rgba(25, 189, 243, .08) !important;

}

.pubble-sb-button-mask::before {
    display: none !important;
}

.pubble-sb-notif {
    position: absolute;
    background: #f23838;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 11px
}

.pubble-sb-notif-nr {
    font-size: 13px;
    line-height: 22px;
    width: 22px;
    text-align: center;
    height: 22px;
    color: #fff;
    opacity: .95
}

.pubble-sb-bl,
.pubble-sb-br,
.pubble-sb-ml,
.pubble-sb-mr,
.pubble-sb-tl,
.pubble-sb-tr {
    position: fixed;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    z-index: 99999
}

.pubble-sb-clientbordercolor {
    border: 2px solid #00abd5
}

.pubble-sb-clientnumbercolor {
    background: #434a54
}

.pubble-off {
    display: none
}

.pubble-sb-clientsize {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1)
}

.pubble-sb-br,
.pubble-sb-mr,
.pubble-sb-tr {
    right: 20px;
    width: 60px
}

.pubble-sb-bl,
.pubble-sb-ml,
.pubble-sb-tl {
    left: 8px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top
}

.pubble-sb-ml,
.pubble-sb-mr {
    top: 45%
}

.pubble-sb-tl,
.pubble-sb-tr {
    top: 10px
}

.pubble-sb-bl,
.pubble-sb-br {
    bottom: 20px
}

.pubble-sb-button-mask {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background: transparent;
    transition: all .5s ease-in-out;

}

.pubble-sb-button-mask:before
{display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
width: 20px;
height: 20px;
position: absolute;
content: "";
cursor: default;
opacity: 1;
bottom: 8px;
right: 8px;
margin: 0;
padding: 0;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: normal 16px/normal "Times New Roman", Times, serif;
color: rgba(0,0,0,0.9);
-o-text-overflow: clip;
text-overflow: clip;
background: #1cd0ff;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: none;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: rotateZ(-100deg)  translateX(-5px) skewX(-22.5deg);
transform: rotateZ(-100deg)  translateX(-5px) skewX(-22.5deg);
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
           -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in
}

#pb_sidebar:hover
.pubble-sb-button-mask::before{
    bottom: 15px;
    right:15px;
        -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    
}

#pb_sidebar:hover
.pubble-sb-clientbgcolor{
        box-shadow: 0 8px 15px rgba(25, 189, 243, .16), 0 3px 6px rgba(25, 189, 243, .08);
            -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}



#pb_sidebar:hover
.pubble-sb-logo
{
    
}


.pubble-sb-button {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50% 50%;
    height: 60px;
    width: 60px;
    overflow: hidden;
    box-shadow: inset 0 5px 10px rgba(255, 255, 255, .1);
    -webkit-box-shadow: inset 0 5px 10px rgba(255, 255, 255, .1);
    cursor: pointer;
    transition: all .5s ease-in-out
}





.pubble-sb-logo {
    /*
    background-image: url(../images/qmd.svg);
    background: url(../images/ie7.png) no-repeat\9;
    */
    background-image: url(../images/ask_text.png);
    background: url(../images/ask_text.png) no-repeat\9;
    background-position: 0 center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    top: 5px;
    right: 5px;
    -webkit-transform: translate3d(0, 0, 0);
    animation: logo2_anim 15s infinite;
    -webkit-animation: logo2_anim 15s infinite;
        height: 50px;
    width: 50px;
    position: absolute;
}

.pubble-sb-avatar {
    top: 0px;
    right: 0px;
    border-radius: 30px;
    overflow: hidden;
    z-index: 2;
        height: 60px;
    width: 60px;
    position: absolute;
}

.pubble-sb-avatar img {
    height: 60px!important;
    width: 60px!important;
    border-radius: 30px;
}

@keyframes logo2_anim {
    14%,
    16%,
    18% {
        transform: none;
        transform-origin: none
    }
    15%,
    17% {
        transform: rotateY(60deg);
        transform-origin: 0 0 5
    }
}

@-webkit-keyframes logo2_anim {
    14%,
    16%,
    18% {
        -webkit-transform: none;
        -webkit-transform-origin: none
    }
    15%,
    17% {
        -webkit-transform: rotateY(60deg);
        -webkit-transform-origin: 0 0 5
    }
}


.pubble-sb-text {
    width: 0;
    overflow: hidden;
    height: 34px;
    margin-top: 11px;
    margin-left: 8px;
    font-weight: 700;
    line-height: 17px;
    font-size: 14px;
    position: absolute;
    right: 56px;
    border-right: 1px solid rgba(255, 255, 255, 0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: transparent
}

.pubble-sb-bl-s .pubble-sb-nr-pos-mask,
.pubble-sb-br-s .pubble-sb-nr-pos-mask,
.pubble-sb-ml-s .pubble-sb-nr-pos-mask,
.pubble-sb-mr-s .pubble-sb-nr-pos-mask,
.pubble-sb-tl-s .pubble-sb-nr-pos-mask,
.pubble-sb-tr-s .pubble-sb-nr-pos-mask {
    position: absolute;
    top: -4px;
    right: -4px;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    animation: intro_nrmask_anim;
    -webkit-animation: intro_nrmask 5s;
    animation-delay: 1s
}

.pubble-sb-mr-b .pubble-sb-nr-pos-mask,
.pubble-sb-tr-b .pubble-sb-nr-pos-mask {
    position: absolute;
    top: 60px;
    right: 4px;
    height: 24px;
    width: 46px;
    border-radius: 13px;
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    animation: intro_nrmask_anim;
    -webkit-animation: intro_nrmask 5s;
    animation-delay: 1s
}

.pubble-sb-ml-b .pubble-sb-nr-pos-mask,
.pubble-sb-tl-b .pubble-sb-nr-pos-mask {
    position: absolute;
    top: 60px;
    left: 4px;
    height: 24px;
    width: 46px;
    border-radius: 13px;
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    animation: intro_nrmask_anim;
    -webkit-animation: intro_nrmask 5s;
    animation-delay: 1s
}

.pubble-sb-bl-b .pubble-sb-nr-pos-mask,
.pubble-sb-br-b .pubble-sb-nr-pos-mask {
    top: -30px;
    height: 24px;
    width: 46px;
    border-radius: 13px;
    background: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    position: absolute
}

.pubble-sb-bl-b .pubble-sb-nr-pos-mask {
    left: 4px;
    animation: intro_nrmask_anim;
    -webkit-animation: intro_nrmask 5s;
    animation-delay: 1s
}

.pubble-sb-br-b .pubble-sb-nr-pos-mask {
    right: 4px;
    animation: intro-nrmask-anim;
    -webkit-animation: intro-nrmask 5s;
    animation-delay: 1s
}

.pubble-sb-bl-s .pubble-sb-nr-pos,
.pubble-sb-br-s .pubble-sb-nr-pos,
.pubble-sb-ml-s .pubble-sb-nr-pos,
.pubble-sb-mr-s .pubble-sb-nr-pos,
.pubble-sb-tl-s .pubble-sb-nr-pos,
.pubble-sb-tr-s .pubble-sb-nr-pos {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 20px;
    width: 20px;
    border-radius: 10px
}

.pubble-sb-bl-b .pubble-sb-nr-pos,
.pubble-sb-br-b .pubble-sb-nr-pos,
.pubble-sb-ml-b .pubble-sb-nr-pos,
.pubble-sb-mr-b .pubble-sb-nr-pos,
.pubble-sb-tl-b .pubble-sb-nr-pos,
.pubble-sb-tr-b .pubble-sb-nr-pos {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 18px;
    width: 40px;
    border-radius: 9px
}

.pubble-sb-bl-s .pubble-sb-nr-s,
.pubble-sb-br-s .pubble-sb-nr-s,
.pubble-sb-ml-s .pubble-sb-nr-s,
.pubble-sb-mr-s .pubble-sb-nr-s,
.pubble-sb-tl-s .pubble-sb-nr-s,
.pubble-sb-tr-s .pubble-sb-nr-s {
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}

.pubble-sb-bl-b .pubble-sb-nr-b,
.pubble-sb-br-b .pubble-sb-nr-b,
.pubble-sb-ml-b .pubble-sb-nr-b,
.pubble-sb-mr-b .pubble-sb-nr-b,
.pubble-sb-tl-b .pubble-sb-nr-b,
.pubble-sb-tr-b .pubble-sb-nr-b {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    width: 40px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out
}

.pubble-sb-circle {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    top: 1px;
    right: 1px;
    height: 48px;
    width: 48px;
    border-radius: 37px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: -1;
    animation: sc_anim 15s infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: sc_anim 15s infinite
}

@keyframes sc_anim {
    12% {
        top: 1px;
        right: 1px;
        height: 48px;
        width: 48px;
        border-radius: 37px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    14% {
        top: -9px;
        right: -9px;
        height: 68px;
        width: 68px;
        border-radius: 37px
    }
    18% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        top: -9px;
        right: -9px;
        height: 68px;
        width: 68px;
        border-radius: 37px
    }
    20% {
        top: 1px;
        right: 1px;
        height: 48px;
        width: 48px;
        border-radius: 37px;
        background: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
}

@-webkit-keyframes sc_anim {
    12% {
        top: 1px;
        right: 1px;
        height: 48px;
        width: 48px;
        border-radius: 37px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
    14% {
        top: -9px;
        right: -9px;
        height: 68px;
        width: 68px;
        border-radius: 37px
    }
    18% {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        top: -9px;
        right: -9px;
        height: 68px;
        width: 68px;
        border-radius: 37px
    }
    20% {
        top: 1px;
        right: 1px;
        height: 48px;
        width: 48px;
        border-radius: 37px;
        background: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
}

.pubble-sb-animated {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.3)
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.05)
    }
    70% {
        -moz-transform: scale(.9)
    }
    100% {
        -moz-transform: scale(1)
    }
}

@-o-keyframes bounceIn {
    0% {
        opacity: 0;
        -o-transform: scale(.3)
    }
    50% {
        opacity: 1;
        -o-transform: scale(1.05)
    }
    70% {
        -o-transform: scale(.9)
    }
    100% {
        -o-transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        transform: scale(1.05)
    }
    70% {
        transform: scale(.9)
    }
    100% {
        transform: scale(1)
    }
}


.pubble-sb-bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn
}

.pubble-sb-bubble {
    position: fixed;
    right: 20px;
    bottom: 95px;
    cursor: pointer;
    width:300px;
    z-index: 999999;
}
.pubble-sb-bubble
.pubble-cw-dialog-item-time{
    display: none !important;
}
.pubble-sb-bubble-item-list{
    width:300px;
    float:left;
}

.pubble-sb-bubble
.pubble-cw-panel-dialog-item.pubble-cw-isadmin .pubble-cw-dialog-item-content{
    margin-right: 0;
    min-width: 150px;
    min-width: 258px;
}

.pubble-sb-bubble
.pubble-cw-dialog-item-avatar{
    display: block;
}

.pubble-sb-bubble-textarea
{height: 40px;
    float: left;
    background: #fff;
    border-radius: 8px;
    width: 260px;
    margin-left: 40px;
    margin-top: 10px;
   

    position: relative;
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, .12);
-moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, .12);
box-shadow: 0 0px 8px 0 rgba(0, 0, 0, .12);
    border: 1px solid #e6ecee;


}


.pubble-sb-bubble-textarea-text{
    color:#8f9b9f;
    position: absolute;
    left:12px;
    hieght:20px;
    top:10px;
     font-size: 14px;
}

.pubble-sb-bubble-textarea-emoji,
.pubble-sb-bubble-textarea-att
{
    position: absolute;
height: 20px !important;
width: 20px !important;
top: 10px;


display: inline-block;
opacity: .85;
transform: translateZ(0);
backface-visibility: hidden;
transition-duration: .2s;
transition-property: transform;
    overflow: hidden;
background-image: url(../images/pubble-cw-main.png);
background-repeat: no-repeat;
background-size: 300px 300px;

}
.pubble-sb-bubble-textarea-emoji
{
background-position: 0 -80px;
    right:38px;
}
.pubble-sb-bubble-textarea-att
{
background-position: -80px -80px;
    right:10px;
}



.pubble-sb-bubble.pubble-move {
    opacity: 0;
    z-index: -1;
    cursor: none;
    visibility: hidden;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none
}

.pubble-sb-bubble {
    opacity: 1;
    -webkit-transition: .4s ease-in;
    -moz-transition: .4s ease-in;
    -o-transition: .4s ease-in;
    border-spacing: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d
}

.pubble-sb-bubble-text {
    padding: 8px;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
    color: #333
}

.pubble-sb-bubble-text p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}


.pubble-sb-close
{height: 60px;
width: 60px;
position: absolute;
top: 0px;
left: 0px;
    display:none;

}


.pubble-sb-controls-close-ico{
        background-image: url(../images/close.png);
    background: url(../images/close.png) no-repeat\9;
    background-position: 0 center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 30px;
width: 30px;
position: absolute;
top: 15px !important;
left: 15px;

}

.pubble-sb-close:hover .pubble-sb-controls-close-ico {
        -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
            -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -o-transition: .15s ease-in;
}

.pubble-expanded
.pubble-sb-close
{
    display: block;
}
.pubble-expanded
.pubble-sb-logo,
.pubble-expanded
.pubble-sb-avatar{
    display: none;
}

.pubble-expanded
.pubble-sb-button-mask::before{
    bottom: 15px;
    right:15px;
        -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    
}